@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff2") format("woff2"), url("Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Extrabold.woff2") format("woff2"), url("Gilroy-Extrabold.woff") format("woff"), url("Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
:root {
  --bg-clr: grey;
  --wpar-clr: #0b1d26;
}

body {
  background-color: var(--bg-clr);
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 4200px;
  width: 1600px;
  margin: 20px;
  padding: 50px;
  /* второй вариант наложения картинок в качестве фона*/
  background: url("/img/BGHero.png") no-repeat top -20px center/contain, url("/img/BGContent.png") no-repeat top 1100px center/contain, url("/img/VG.png") no-repeat top 700px center/contain, url("/img/MG.png") no-repeat top 450px center/contain, url("/img/HG.png") no-repeat top -20px center/contain;
  background-color: var(--wpar-clr);
  box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.wrapper h1 {
  font-family: Chronicle Display;
  font-size: 75px;
  font-weight: 350;
  line-height: 80px;
  word-spacing: 5px;
  text-align: left;
}
.wrapper p {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.wrapper a {
  text-decoration: none;
  cursor: pointer;
}

/* первый вариант наложения картинок в качестве фона*/
/*.bg-hero {
    /*background-image: url("/img/HG.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 1513px;
    width: 1400px;

    position: relative;
    z-index: 2;
}*/
/*.bg-hero::before {
    content: "";
    background-image: url("/img/HG.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    position: absolute;
    inset: 0;
    margin-top: -130px;
    filter: opacity(0.8);
    z-index: -2;
}*/
/*.bg-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/img/BGHero.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    filter: opacity(0.1);
    z-index: -2;
}*/
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
  /*z-index: 1;*/
}
.hero .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  gap: 30px;
}
.hero .socials p {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
.hero .slider {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 20px;
  gap: 30px;
  margin-right: 30px;
  position: relative;
}
.hero .slider::after {
  content: url("/img/Slider.png");
  position: absolute;
  top: -30px;
  left: 50px;
}

span {
  display: flex;
  justify-content: center;
}
span h1 {
  font-size: 50px;
  text-transform: capitalize;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header h1 {
  font-weight: 200;
  font-size: 30px;
  margin-top: -20px;
}
.header li {
  display: inline-block;
}
.header .acc {
  position: relative;
}
.header .acc::before {
  content: url("/img/cart.png");
  left: -30px;
  top: 2px;
  position: absolute;
}

/*
.content-bg {
    width: 1400px;
    z-index: -1;
    overflow: hidden;
    position: relative;

    .mg {
        width: inherit;
    }

    .vg {
        width: inherit;
        margin-top: -800px;
    }
}
.content-bg::after {
    content: url("/img/BGContent.png");
    position: absolute;
    inset: 0;
    margin-top: 500px;
}*/
.content {
  display: grid;
  place-content: center;
  gap: 250px;
  margin-top: 900px;
  margin-right: -300px;
}
.content img {
  width: 60%;
}

.content-cell {
  display: flex;
  gap: 20px;
  /*z-index: 1;*/
  width: 1100px;
  height: 600px;
  position: relative;
  align-items: center;
}
.content-cell h1 {
  font-size: 70px;
  font-weight: 300;
  line-height: 90px;
  word-spacing: 5px;
  letter-spacing: 2px;
}
.content-cell p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}
.content-cell .start-text {
  letter-spacing: 5px;
  position: relative;
  padding-left: 100px;
  text-transform: uppercase;
}
.content-cell .start-text::before {
  content: url("/img/Line.png");
  position: absolute;
  margin-top: -5px;
  margin-left: -100px;
}
.content-cell a,
.content-cell .start-text,
.content-cell .start-text::before {
  color: #fbd784;
}
.content-cell p a::after {
  content: url("/img/arrow_downward_24px.png");
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
}

.content-cell::before {
  content: url("/img/Equipment.svg");
  position: absolute;
  left: -250px;
  top: 150px;
}

.content-cell__2 {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.content-cell__2 .content-text {
  margin-left: 150px;
}
.content-cell__2 img {
  margin-left: -250px;
}

.content-cell__2::before {
  display: none;
}

.content-cell__2 .content-text::before {
  content: url("/img/Equipment1.svg");
  position: absolute;
  left: 350px;
  top: 20px;
}

.content-cell__3::before {
  content: url("/img/Equipment2.svg");
  left: -270px;
}

.footer {
  display: flex;
  gap: 200px;
  justify-content: space-between;
  margin-left: -250px;
}
.footer h1 {
  font-weight: 200;
  font-size: 30px;
}
.footer .advice {
  margin-top: -20px;
}
.footer .more {
  display: flex;
  gap: 350px;
}
.footer .more p:not(:first-child) {
  font-size: 15px;
  font-weight: 400;
}
.footer .more p:first-child {
  color: #fbd784;
  padding-bottom: 15px;
}/*# sourceMappingURL=style.css.map */